<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connected Device Info.</title>
    <!-- Bootstrap -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1>Your Connected Device Info</h1>
    <p>Device ID: <%= device %></p>
    <p>Device Model: <%= devicemodel %></p>
    <p>Android Version: <%= androidversion %></p>
    <p>Wifi Status: <%= wifistat %></p>
    <p>IPAddress: <%= ipaddress %></p>
    <p>Gateway: <%= gateway %></p>
    <p>DNS1: <%= dns1 %></p>
    <p>DNS2: <%= dns2 %></p>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
